.social {
  display: flex;
  align-items: center;
  height: auto;
  position: absolute;
  background: #009A66;
  z-index: 5;
  padding: 0px 6px;
  opacity: 1;
  transition: all 0.3s;
  width: 120px;
  height: 33px;
  justify-content: space-between;
  right: 50px;
  top: 20px;
  z-index: 4;

  &--close {
    width: 0;
    opacity: 0;
  }

  .fb {
    height: 20px;
  }

  .mail {
    width: 20px;
  }

  .twitter {
    width: 20px;
  }
  
  @media (max-width: 730px) {
    top: 22px;
  }

}