.social {
  display: flex;
  right: 102px;
  top: 0px;
  height: auto;
  position: absolute;
  background: #009A66;
  z-index: 1;
  padding: 12px 12px;
  opacity: 1;
  transition: all 0.3s;

  &--close {
    opacity: 0;
  }

  img {

  }

  .fb {
    height: 26px;
    padding-right: 10px;
  }

  .mail {
    width: 26px;
  }

  .twitter {
    width: 26px;
    padding-right: 10px;
  }

}