.carousel__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  transition: all 0.3s;
  .controls__progress {
    p {
      color: #fff;
    }
  }
  &--hidden {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;

    img, p {
      display: inline-block;
    }
    
    img {
      vertical-align: text-bottom;
    }

    p {
      margin: 0 8px;
    }

    .back {

    }

    .next {
      transform: rotate(180deg);
    }


  }

  @media (max-width: 730px) {
    position: fixed;
  }
}