.mapboxgl-popup {
  transition: opacity 0.3s;
  .mapboxgl-popup-tip {
    border-top-color: #461F77!important; // override base style
  }
  .mapboxgl-popup-content {
    background: #461F77;
    border-radius: 0;

    p {
      color: #fff;
    }
  }
}