.carousel__slider {
overflow-y: scroll;

  .slide {
    position: absolute;
    background: #EFEFEF;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
    max-width: 400px;

    @media (max-width: 730px) {
      min-height: 100vh;
    }

    .map__button--gallery {
      right: 20px;
      top: 20px;
      @media (min-width: 730px) {
        display: none;
      }
    }

    &__content {
      padding: 0 30px;

      .golfer-headshot {
        position: absolute;
        right: 40px;
        top: 153px;
        img {
          width: 100px;
          border-radius: 120px;
          border: 3px solid #efefef;
        }

        &__button {
          background: #461F77;
          position: absolute;
          right: 5px;
          bottom: 5px;
          width: 30px;
          height: 30px;
          border-radius: 20px;
          color: white;
          text-align: center;
          font-size: 22px;
          line-height: 27px;
          z-index: 8;
        }
        cursor: pointer;
        &:after {
          content: '';
          width: 100px;
          height: 100px;
          position: absolute;
          top: 0;
          left: 0;
        }

        &__hover {
          opacity: 0;
          transition: opacity 0.3s;
          height: 94px;
          width: 94px;
          top: 3px;
          left: 3px;
          position: absolute;
          background: rgba(1, 154, 102, 0.91);
          z-index: 999;
          border-radius: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 12px;
          z-index: 7;
          &:hover {
            opacity: 1;
          }

        }

        @media (max-width: 730px) {
          display: none;
        }
      }

      .golfer-mobile-container {
        display: flex;
        align-items: center;
        margin: 10px 0;
      }

      .golfer-mobile {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50px;
        margin-right: 13px;
        @media (min-width: 730px) {
          display: none;
        }
      }

      h2 {
        font-family: "Austin News Deck Semibold", serif;
        font-size: 28px;
        line-height: 33.6px;
        max-width: 60%;
        @media (max-width: 730px) {
          max-width: 90%;
        }
      }

      h3 {
        font-family: "Austin News Deck Semibold", serif;
        font-size: 13px;
        line-height: 15.6px;
      }

      p:first-of-type {
        margin-bottom: 0;
      }

      p:last-of-type {
        margin-top: 0;
      }

    }

    &__img {
      position: relative;

      img {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
      }

      @media (max-width: 730px) {
        display: none;
      }
    }

    &.slide--active {
      transform: translate3d(0%, 0, 0);
    }
    &.after {
      transform: translate3d(100%, 0, 0);
    }

    @media (max-width: 730px) {
      max-width: unset; 
    }
  }
}