.carousel__slider {
min-height: 100vh;
max-height: 100vh;
overflow-y: scroll;

  .slide {
    min-height: 100vh;
    position: absolute;
    background: #EFEFEF;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
    max-width: 400px;

    &__content {
      padding: 0 30px;

      h2 {
        font-size: 28px;
        line-height: 33.6px;
      }

      h3 {
        font-size: 13px;
        line-height: 15.6px;
      }

      p:first-of-type {
        margin-bottom: 0;
      }

      p:last-of-type {
        margin-top: 0;
      }

    }

    &__img {
      position: relative;
      @media (max-width: 730px) {
        display: none;
      }
    }

    &.leona {
      .slide__img {
        &:after {
          content: '';
          background: url('../../../../../assets/golfers/lorna.jpg');
          background-size: contain;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          position: absolute;
          bottom: -50px;
          right: 40px;
          z-index: 1;
          border: 3px solid #efefef;
        }
      }
    }

    &.padraig {
      .slide__img {
        &:after {
          content: '';
          background: url('../../../../../assets/golfers/padraig.jpg');
          background-size: contain;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          position: absolute;
          bottom: -50px;
          right: 40px;
          z-index: 1;
          border: 3px solid #efefef;
        }
      }
    }

    &.slide--active {
      transform: translate3d(0%, 0, 0);
    }
    &.after {
      transform: translate3d(100%, 0, 0);
    }
  }
}