.map {
  position: relative;
  width: calc(100% - 400px);
  height: 100%;

  &__prompt {
    position: absolute;
    z-index: 1;
    font-size: 13px;
    background: #492E78;
    color: #fff;
    right: 50%;
    top: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    transform: translateX(50%);
    transition: opacity 0.3s;
  }

  .hidden {
    opacity: 0;
  }

}