.map {
  position: relative;
  width: calc(100% - 400px);
  height: 100%;

  &--first-slide {
    @media (max-width: 730px) {
      display: none;
    }
  }

  &--hovered {
    .mapboxgl-canvas-container {
      cursor: pointer!important;
    }
  }

  &__prompt {
    position: absolute;
    z-index: 1;
    font-family: "Telesans Text", sans-serif;
    font-size: 13px;
    background: #492E78;
    color: #fff;
    right: 50%;
    top: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    transform: translateX(50%);
    transition: opacity 0.3s;
  }

  .hidden {
    opacity: 0;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    background: #009A66;
    z-index: 5;
    border: none;
    padding: 8px 9px;

    &--share {
      right: 20px;
      top: 20px;
    }

    &--menu {
      left: 20px;
      top: 20px;
      
      @media (min-width: 730px) {
        display: none;
      }
    }
  }

  @media (max-width: 730px) {
    height: 33%;
    width: 100%;
  }

}