
.container {
  .carousel {
    .slide--intro {
      transform: translateX(0);

      .golfers-intro {
        img {
          max-width: 200px;
          cursor: pointer;
        }
      }

      .slide {

        &__content {
          margin-top: 60px;
        }
      }

      img {
        margin-top: 40px;
        max-width: 100%;
      }

      h1 {
        font-family: "Austin News Deck Semibold", serif;
        font-size: 28px;
        margin-bottom: 20px;
      }

      p {
        margin-top: 0;
      }

      button {
        font-family: "Telesans Text", sans-serif;
        cursor: pointer;
        width: 140px;
        height: 48px;
        margin-top: 20px;
        background: #461F77;
        border: none;
        color: #fff;
        font-size: 13px;
      }

    }
  }
}

